input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#
spoiler {
    display: none;
}

t
able {
    font-family: Arial, sans-serif;
    border: 1px solid;
    border-collapse: collapse;
}

t
h {
    background-color: #0066CC;
    color: white;
}

t
d {
    border: 1px solid;
    padding: 5px;
}
